@media screen and (min-width: 1224px){
  .bus-overview {
    height: 30vh;
    background-color: #117775;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .bus-overview h1 {
    margin-top: 2.5%;
    margin-bottom: 0%;
    font-size: 250%;
  }

  .bus-overview p {
    font-size: 125%;
    width: 80%;
    margin: 1% auto 2.5% auto;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1223px) {
  .bus-overview {
    height: 50vh;
    background-color: #117775;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .bus-overview h1 {
    margin-top: 10%;
    margin-bottom: 0%;
    font-size: 200%;
  }

  .bus-overview p {
    font-size: 125%;
    width: 80%;
    margin: 2.5% auto 2.5% auto;
    text-align: left;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bus-overview {
    height: 55vh;
    background-color: #117775;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .bus-overview h1 {
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    width: 75%;
  }

  .bus-overview p {
    font-size: 100%;
    width: 80%;
    margin: 2.5% auto 2.5% auto;
    text-align: left;
  }
}
