@media screen and (min-width: 1224px){
  .bus-overview {
    height: 30vh;
    background-color: #117775;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .bus-overview h1 {
    /* margin: 1em auto 1em auto; */
    /* margin: 2.5% auto 2.5% auto; */
    margin: 2.5% auto auto auto;
    font-size: 250%;
  }

  .bus-overview p {
    font-size: 125%;
    width: 80%;
    margin: 2.5% auto 5% auto;
    text-align: left;
  }
}

/* @media screen and (min-width: 1224px) and (max-width: 1450px){
  .bus-overview {
    height: 30vh;
    background-color: #117775;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .bus-overview h1 {
    /* margin: 1em auto 1em auto; */
    /* margin: 2.5% auto 2.5% auto; */
    /* margin: 1% auto; */
    /* font-size: 2.5em;
  }

  .bus-overview p {
    font-size: 1.25em;
    width: 75%;
    /* margin: 0 auto auto auto; */
    /* margin: 0 auto;
    text-align: left; */
  /* }
} */
