@media screen and (min-width: 1224px){
  .services-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* margin: auto; */
    height: 100vh;
    /* margin-bottom: 3em; */
    background-color: white;
  }

  .heading {
    width: 100vw;
    margin: 2.5% auto auto auto;
    font-size: 250%;
    color: #117775;
  }

  .services-text-icons-container {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    width: 100vw;
    justify-content: center;
    margin: 2.5% auto;
  }

  .column-item {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .column-item, .services-text-icons-container {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
  }

  .services-icon {
    width: 7em;
    margin: 1% auto 1% auto;
  }

  .text {
    text-align: left;
    height: 75%;
    width: 25vw;
    margin: auto;
  }

  .text p {
    text-align: center;
    font-size: 1em;
  }

  .text h2 {
    text-align: center;
    color: #117775;
    font-size: 1.25em;
  }

  #disclaimer {
    width: 99%;
    text-align: center;
    color: rgb(130, 130, 130);
    font-size: .5em;
    margin-top: 25%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1223px) {
  .services-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* margin: auto; */

    /* margin-bottom: 3em; */
    background-color: white;
  }

  .heading {
    width: 100vw;
    margin: 2.5% auto auto auto;
    font-size: 250%;
    color: #117775;
  }

  .services-text-icons-container {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    width: 100vw;
    justify-content: center;
    margin: 2.5% auto;
  }

  .column-item {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .column-item, .services-text-icons-container {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
  }

  .services-icon {
    width: 7em;
    margin: 1% auto 1% auto;
  }

  .text {
    text-align: left;
    height: 75%;
    width: 25vw;
    margin: auto;
  }

  .text p {
    text-align: center;
    font-size: .85em;
  }

  .text h2 {
    text-align: center;
    color: #117775;
    font-size: 1.25em;
  }

  #disclaimer {
    width: 99%;
    text-align: center;
    color: rgb(130, 130, 130);
    font-size: .5em;
    margin-top: 1%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .services-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* margin: auto; */
    /* height: 100vh; */
    /* margin-bottom: 3em; */
    background-color: white;
  }

  .heading {
    width: 100vw;
    margin: 2.5% auto auto auto;
    font-size: 250%;
    color: #117775;
  }

  .services-text-icons-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    margin: 2.5% auto;
  }

  .services-icon {
    width: 6em;
    margin: auto;
  }

  .text {
    text-align: left;
    height: 75%;
    width: 75vw;
    margin: auto;
  }

  .text p {
    text-align: center;
    font-size: 1em;
  }

  .text h2 {
    text-align: center;
    color: #117775;
    font-size: 1.25em;
  }

  #disclaimer {
    width: 99%;
    text-align: center;
    color: rgb(130, 130, 130);
    font-size: .5em;
  }
}
