.services-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* margin: auto; */
  height: 100vh;
  /* margin-bottom: 3em; */
  background-color: white;
}

.heading {
  width: 100vw;
  /* margin: auto; */
  font-size: 3em;
  color: #117775;
}

.services-text-icons-container {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}

.column-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 1em;
  /* border: 2px solid red; */
  /* justify-content: center; */
  /* padding: .5em; */
}

.services-icon {
  width: 6em;
  /* border: 1px solid yellow; */
  margin: auto;
  /* margin: auto; */
}

.text {
  text-align: left;
  height: 75%;
  width: 25vw;
  margin: auto;
}

.text p {
  text-align: center;
}

.text h2 {
  text-align: center;
  color: #117775;
  margin-bottom: 1px;
}
  /* font-size: 1.75em; */

#disclaimer {
  width: 95%;
  margin: auto;
  text-align: center;
  color: rgb(130, 130, 130);
  font-size: 1em;
}
